body{
    background: #eee;
}
h1{
    text-transform: uppercase;
    text-align: center;
}
#period_select{
    width:440px;
    height: 50px;
    position: relative;
    left: 50%;
    margin-left:-220px;
}
#period_select input{
    margin-top: 27px;
    border: none;
    display: block;
    float: left;
    width: 200px;
    text-align: center;
    text-indent: 20px;
    letter-spacing: 1.4px;
    font-size: 1.4em;
}

#period_select input {
    -webkit-appearance: none;
}
#period_select input::-webkit-clear-button{ 
    display: none;
}
#period_select input::-webkit-inner-spin-button,
#period_select input::-webkit-calendar-picker-indicator {
    /*display: none;*/
    color: #049372;
    -webkit-appearance: none;
}
#delimiter{
    color: rgba(0, 0, 0, .4);
    font-size: 61px;
    text-align: center;
    float: left;
    height: 40px;
    width:40px;
}
#datesubmit{
    color: #FFF;
    margin-top: 40px; 
    border: none;
    display: block;
    position: relative;
    width: 100px;
    text-align: center;
    left: 50%;
    margin-left: -50px;
    font-family: 'Helvetica', 'Arial';
    font-size: 1.2em;
    text-transform: uppercase;
    background-color: #049372;
}
#datesubmit:hover{
    background-color: #4DAF7C
}

