
@font-face {

  font-family: "OpenSans-Regular";

  src: url("fonts/OpenSans-Regular.woff2") format("woff2"); /* Modern Browsers */
  font-weight: normal;
  font-style: normal;}
*{
  /*font-family: 'Open Sans', sans-serif;*/
  font-family: 'Helvetica', sans-serif;
}
body{
  background: #2c3e50; 
  margin:0px;
  padding:0px;
}
#bg_img{

  background-position: 60% 70%;
  background-attachment: fixed;
  background-size:cover;
  margin:0px;
  padding:0px;
  width:100%;
  height:100vh;
  position: fixed;
  filter: blur(5px);
}
#overlay{
  position: fixed;
  margin:0px;
  padding:0px;
  width:100%;
  height:100vh;
  background:rgba(3, 13, 16, 0.72);
}
h3{
  text-align:center;
  font-size:12pt;
  font-weight:200;
  color: #bbb;
  display:block;
  height:30px;
  line-height:20px;
  width: 70%;
  margin-left:15%;
  font-weight:600;
  border-bottom: 2px solid rgba(0,0,0,.2);
}
h4{
  font-family: 'Open Sans', sans-serif;
  font-size: 9pt;
}
#content{
  width: 800px;
  height: 470px;
  position: relative;
  left:50%;
  margin-left: -400px;
  top: 10vh;
  background-size:cover;
  box-shadow: rgba(0,0,0,.6) 2px 2px 30px;
  background-position: 0% 50%;
}
.l_stat{
  height:400px;
  width:250px;
  background: #962626;
  float:left;
}
li{
  list-style: none
}
ul{
    display: block;
    width: 80%;
    padding: 0px;
    margin-left: 10%;
    margin-top: 40px;
}
ul li{
  color: #eee
}
ul li div{
  font-size: 21pt;
  font-weight: 600;
  border-bottom: 2px #0000002e solid;
  margin-top: -15px;
  margin-bottom: 35px;
}
.metrics{
  font-size: 12pt;
  font-weight: 100;
  color: #0000004d;
  float: right;
  margin-top: 10px;
}
.r_stat{
  height:400px;
  width:550px;
  /*background: rgba(225,40,0,.5);*/
  float:left;
}
.r_stat ul{
  margin-top: 90px;
}
.r_stat li{
  padding-left: 17px;
  background-color: #11111194;
  padding-top: 1px;
}
#nav{
  width:100%;
  height:70px;
  background: #ecf0f1;
}
#nav span{
  display:block;
  float:left;
  line-heignt:70px;
  font-weight:800;
  font-size:10pt;
  margin-top:25px;
  margin-left:27px;
  color: #2c3e50;
}
#nav a{
    display: block;
    width: 100px;
    height: 30px;
    background: none;
    float: right;
    text-align: left;
    position: relative;
    top: 18px;
    line-height: 27px;
    right: 31px;
    text-decoration: none;
    border: 2px #111 solid;
    border-radius: 4px;
    color: #111;
    text-indent: 14px;
    word-spacing: 15px;
}
#deg{
  font-size:70pt;
  font-weight:600;
  position:relative;
  top:140px;
  clear:both;
  left:-500px;
  color: #ddd;
  margin-top:-40px;
}
#deg p{
  font-size:20pt;
  position:relative;
  top:15px;
  font-weight:100;
}
.avg_t{
    padding-left: 15px;
    margin-left: 10%;
    background: #ffffff94;
    width: 182px;
    margin-top: 25px;
    border-bottom: 3px solid #ffffff3b;
    height: 140px;
}
.avg_t div{
    font-size: 41pt;
    font-weight: 600;
    margin-top: 7px;
    margin-bottom: -71px;
    padding-bottom: 23px;
}
.avg_t h4{

    display: block;
    position: relative;
    top: 5px;
    left: 0px;
    font-weight: 600;
    border-bottom: 3px solid;
    overflow: hidden;
    text-transform: uppercase;
    width: 150px;
}
.r_stat .record{
  background: none;
  background-color: : none;
}
.avg_today{
    background: #ffffff94;
    width: 235px;
    position: relative;
    top: -150px;
    left: 259px;
    height: 140px;
    margin-bottom: -224px;
    border-bottom: 3px solid #ffffff3b
}
.avg_today h4{

    display: block;
    position: relative;
    top: 5px;
    left: 16px;
    font-weight: 600;
    border-bottom: 3px solid;
    overflow: hidden;
    text-transform: uppercase;
    width: 99px;
}
#shift{
    width: 70px;
    top: -34px;
    left: 143px;
}
#avg_digit{
  font-size: 41pt;
  font-weight: 600;
  position: relative;
    top: -41px;
    left: 15px;
}
#closest{
  font-size: 12px;
  height: 100px;
  width: 100px;
    top: -109px;
    position: relative;
    left: 129px;
}